$table-item-width: 300px;

h1{
    text-align: center;
}

#button{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

th{
    width: $table-item-width;
}

td{
    text-align: center;
}

button{
    width: 100px;
}

#save, #edit{
    margin-right: 10px;
}

tr:nth-child(even){
    background-color: #CCCCCC;
}